#title {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  color: black;
  -webkit-text-stroke: 2px #edc24a;
  text-align: center;
  position:absolute;
  top: 20%;
  left: 5%;
  text-shadow: 0 0 50px #edc24a;
}

#name {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  color: black;
  -webkit-text-stroke: 2px #edc24a;
  text-align: center;
  position:absolute;
  top: 30%;
  left: 10%;
  text-shadow: 0 0 50px #edc24a;
}

#stats {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 25px;
  color: #edc24a;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 40%;
}


#twig {
  position: absolute;
  top: -100%;
  left: -25%;
}

#youth {
  position:absolute;
  top: -85%;
  left: 20%;
  height: 65%;
  width: auto;
  display: none;
  animation: bounce 2s linear infinite;
}

@keyframes bounce {
  20%, 50%, 80%, to{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
}

#adult{
  position: absolute;
  top: -140%;
  left:-10%;
  height: 120%;
  width: auto;
  display: none;
  animation: slide 4s alternate infinite;
}

@keyframes slide {
  20%, 50%, 80%, to{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-60px);
  }
  60%{
    transform: translateX(80px);
  }
}

#ship {
  width: 100%;
  height: auto;
  margin: 0px;
}

#light1 {
  position: absolute;
  top: 0;
  left: 15%;
  width: 90px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff
}

#light2 {
  position: absolute;
  top: 0;
  left: 40%;
  width: 90px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff
}

#light3 {
  position: absolute;
  top: 0;
  left:60%;
  width: 90px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff
}

#light4 {
  position: absolute;
  top: 0;
  left: 85%;
  width: 90px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff
}

#statsText {
  list-style-type: none;
  font-size: 30px;
}


#water {
  position: absolute;
  bottom: 40%;
  left: 10%;
  background-color: black;
  color:#edc24a;
  border-radius: 60px;
  width: 200px;
  height: 70px;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  box-shadow: 0 0 30px 0 #edc24a,
                    0 0 80px 0 #edc24a,
                    0 0 10px 0 #edc24a inset;
}

#rest {
  position: absolute;
  bottom: 40%;
  left: 40%;
  background-color: black;
  color:#edc24a;
  border-radius: 60px;
  width: 200px;
  height: 70px;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  box-shadow: 0 0 30px 0 #edc24a,
                    0 0 80px 0 #edc24a,
                    0 0 10px 0 #edc24a inset;
}

#play {
  position: absolute;
  bottom: 40%;
  left: 70%;
  background-color: black;
  color:#edc24a;
  border-radius: 60px;
  width: 200px;
  height: 70px;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  box-shadow: 0 0 30px 0 #edc24a,
                    0 0 80px 0 #edc24a,
                    0 0 10px 0 #edc24a inset;
}

#resources {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-family: 'Chakra Petch', sans-serif;
  color: #edc24a;
  font-size: 15px;
}